/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Root
ــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../css/root.css");
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Footer
ــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.footer {
  position: relative;
  width: 100%;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-color: var(--main-color-alt);
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.footer .container .titel {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: var(--white-color);
  padding: 0 0 10px 0;
  transition: var(--main-transition);
}
.footer .container .titel::before {
  position: absolute;
  content: "";
  width: 25%;
  height: 2px;
  border-radius: 5px;
  background-color: #fff;
  bottom: 0;
}
.footer .container img {
  position: relative;
  width: 150px;
}

.footer .box {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer .box .data-recent {
  position: relative;
  display: flex;
  gap: 15px;
}
.footer .box .data-recent img {
  position: relative;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.footer .box .data-recent h5 {
  position: relative;
  font-size: 18px;
  color: var(--white-color);
  margin: 0;
  font-weight: bold;
  letter-spacing: 2px;
}
.footer .box .data-recent p {
  color: #eee;
}
.footer .box .galley {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 10px;
}
.footer .box .galley img {
  width: 100%;
  object-fit: cover;
  height: 50px;
}

.footer .box .footer-links {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer .box .footer-links a {
  color: var(--white-color);
}
