/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Root
ــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
@import url("../../../../css/root.css");

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Sea Transportation Method
ــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.SeaTransportationMethod {
  position: relative;
  width: 100%;
  display: flex;
}
@media (max-width: 992px) {
  .SeaTransportationMethod {
    flex-direction: column;
    gap: 15px;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Sea Transportation Method card input
ــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.SeaTransportationMethod .card-input {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  transition: var(--main-transition);
}

.SeaTransportationMethod .card-input:not(:last-child) {
  border-right: 1px solid #eee;
}
.SeaTransportationMethod .Search-input button {
  position: relative;
  min-width: 105px;
  height: 100%;
  border: 0;
  outline: 0;
  background-color: var(--orange-color);
  color: var(--white-color);
  transition: var(--main-transition);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  cursor: pointer;
}
@media (max-width: 992px) {
  .SeaTransportationMethod .card-input {
    flex-direction: column;
    gap: 5px;
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
    border: 0;
  }
  .SeaTransportationMethod .Search-input button {
    width: 100%;
    padding: 8px;
    border-radius: 12px;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Sea Transportation Method card label 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.SeaTransportationMethod .card-input label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  font-weight: normal;
  font-size: 14px;
  transition: var(--main-transition);
}
.SeaTransportationMethod .card-input label i {
  font-size: 11px;
  color: var(--orange-color);
}
.SeaTransportationMethod .card-input label .left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.SeaTransportationMethod .card-input label .switch {
  position: relative;
  width: 60px;
  height: 22px;
  border-radius: 34px;
}
.SeaTransportationMethod .card-input label .switch input {
  display: none;
  opacity: 0;
}
.SeaTransportationMethod .card-input label .switch .slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
  transition: var(--main-transition);
}

.SeaTransportationMethod .card-input label .switch .slider::before {
  position: absolute;
  content: "\f5b0";
  font-family: "Font Awesome 5 Free";
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  width: 16px;
  height: 16px;
  color: #fff;
  border-radius: 50%;
  top: 50%;
  left: 6px;
  transform: translateY(-50%);
  transition: var(--main-transition);
}
.SeaTransportationMethod
  .card-input
  label
  .switch
  input:checked
  + .slider::before {
  content: "\f0d1";
  left: calc(100% - 25px);
}
.SeaTransportationMethod .card-input label .switch input:checked + .slider {
  background-color: #4296f4;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Sea Transportation Method card input 
ــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.SeaTransportationMethod .card-input input {
  position: relative;
  width: 100%;
  border: 0;
  padding: 10px 0;
}
@media (max-width: 992px) {
  .SeaTransportationMethod .card-input input {
    padding: 5px;
  }
}
.SeaTransportationMethod .card-input input[type="text"] {
  padding: 10px 45px 10px 0;
}
.SeaTransportationMethod .card-input input:focus {
  outline: 0;
}
.SeaTransportationMethod .card-input .togle {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 50%;
  right: 0px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: var(--main-transition);
}
.SeaTransportationMethod .card-input .togle:hover {
  background-color: #eee;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Sea Transportation Method card input overlay
ــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.SeaTransportationMethod .card-input .data-overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 102%;
  left: 0;
  background-color: var(--white-color);
  width: 100%;
  opacity: 0;
  z-index: -9;
  transition: var(--main-transition);
  min-height: fit-content;
  border-radius: 8px;
  box-shadow: 0px 2px 5px 1px #cfcece;
}
.SeaTransportationMethod .card-input .data-overlay li {
  position: relative;
  font-weight: 600;
  cursor: pointer;
  padding: 8px 10px;
  transition: var(--main-transition);
}
.SeaTransportationMethod .card-input .data-overlay li:hover {
  color: var(--main-color);
  padding-left: 15px;
}
.SeaTransportationMethod .card-input input.active + .data-overlay {
  opacity: 1;
  z-index: 9999999;
}
.SeaTransportationMethod .card-input .data-overlay .menu {
  position: relative;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
}
.SeaTransportationMethod .card-input .data-overlay .menu > span {
  position: relative;
  display: flex;
  width: 100%;
  gap: 10px;
  align-items: center;
  transition: var(--main-transition);
  cursor: pointer;
  padding: 15px 0;
  border-bottom: 2px solid #eee;
}
.SeaTransportationMethod .card-input .data-overlay .menu > span i {
  font-size: 20px;
}
.SeaTransportationMethod .card-input .data-overlay .menu span.active {
  color: var(--main-color-alt);
  border-bottom: 2px solid var(--main-color);
}
.SeaTransportationMethod .card-input .data-overlay .menu span .info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin: 0;
  padding: 0;
  height: fit-content;
}
.SeaTransportationMethod .card-input .data-overlay .menu span .info span {
  font-size: 14px;
}
.SeaTransportationMethod .card-input .data-overlay .box-data {
  position: relative;
  padding: 20px;
  width: 100%;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Sea Transportation Method card input overlay fcl
ــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.SeaTransportationMethod .card-input .data-overlay .box-data .fcl-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 100%;
}
.SeaTransportationMethod
  .card-input
  .data-overlay
  .box-data
  .fcl-box
  .input-box-fcl {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
}
.SeaTransportationMethod
  .card-input
  .data-overlay
  .box-data
  .fcl-box
  .input-box-fcl:nth-child(2) {
  width: fit-content;
}
.SeaTransportationMethod .card-input .data-overlay .box-data .fcl-box .actions {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 100%;
  border-bottom: 1px solid #eee;
  padding: 0 0 10px 0;
}

.SeaTransportationMethod
  .card-input
  .data-overlay
  .box-data
  .fcl-box
  .actions
  input,
.SeaTransportationMethod
  .card-input
  .data-overlay
  .box-data
  .fcl-box
  .data
  input[type="number"] {
  width: 70px;
  height: 36px;
  text-align: center;
}
.SeaTransportationMethod
  .card-input
  .data-overlay
  .box-data
  .fcl-box
  .actions
  button,
.SeaTransportationMethod
  .card-input
  .data-overlay
  .box-data
  .fcl-box
  .data
  button {
  min-width: 36px;
  height: 36px;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  color: var(--orange-color);
}
.SeaTransportationMethod .card-input .data-overlay .box-data .fcl-box .data {
  position: relative;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.SeaTransportationMethod
  .card-input
  .data-overlay
  .box-data
  .fcl-box
  .data
  .box-data-chosen {
  display: flex;
  gap: 5px;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Sea Transportation Method card input overlay LCL
ــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.SeaTransportationMethod .card-input .data-overlay .box-data .lcl-box {
  position: relative;
  display: flex;
  gap: 10px;
  width: 100%;
}
.SeaTransportationMethod
  .card-input
  .data-overlay
  .box-data
  .lcl-box
  .input-box-lcl {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #eee;
  padding: 5px 5px 0 5px;
  border-radius: 5px 5px 0 0px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-bottom: 1px solid #ccc;
}
.SeaTransportationMethod
  .card-input
  .data-overlay
  .box-data
  .lcl-box
  .input-box-lcl
  .inputs-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.SeaTransportationMethod
  .card-input
  .data-overlay
  .box-data
  .lcl-box
  .input-box-lcl
  .inputs-box
  input {
  height: 36px;
  width: 100%;
  padding: 10px 4px;
  font-size: 14px;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  transition: var(--main-transition);
}
.SeaTransportationMethod
  .card-input
  .data-overlay
  .box-data
  .lcl-box
  .input-box-lcl
  .inputs-box
  input:hover {
  border-bottom: 1px solid var(--main-color);
}
.SeaTransportationMethod
  .card-input
  .data-overlay
  .box-data
  .lcl-box
  .input-box-lcl
  .inputs-box
  .Dropdown-control {
  padding: 10px !important;
  width: 62px;
  height: 36px;
  border: 0 !important;
  border-radius: 2px;
  background-color: #eee !important;
  border-bottom: 1px solid #ccc !important;
}
.SeaTransportationMethod
  .card-input
  .data-overlay
  .box-data
  .lcl-box
  .input-box-lcl
  .inputs-box
  .Dropdown-control:hover {
  border-bottom: 1px solid var(--main-color) !important;
}
